<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeqGen | Hunter Henrichsen</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="min-h-screen bg-gray-100 flex flex-col min-h-screen">
    <div class="p-10 xs:p-0 mx-auto sm:py-12 md:w-full md:max-w-lg flex-grow">
        <h1 class="font-bold text-center text-2xl mb-2">SeqGen</h1>
        <h1 class="font-semibold text-center text-lg mb-5 text-gray-600">A tool by <a class="text-blue-400" href="https://github.com/hhenrichsen">Hunter Henrichsen</a></h1>
        <div id="app" class="bg-white shadow w-full rounded-lg divide-y divide-gray-200">
            <div id="generator" class="mt-5 p-5">
                <h2 class="font-semibold text-md text-gray-600 pb-5 block text-center">Generator Settings</h2>
                <label class="font-semibold text-sm text-gray-600 pb-1 block">Outcomes</label>
                <input v-model="outcomes" placeholder="a, b, c" class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full">
                <label class="font-semibold text-sm text-gray-600 pb-1 block">Count</label>
                <input v-model="length" type="number" class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full">
                <button @click="generate"
                    class="transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block"><span
                        class="inline-block mr-2">Generate</span></button>
            </div>
            <div id="filters" class="p-5">
                <h2 class="font-semibold text-md text-gray-600 mb-3 block text-center">Filters</h2>
                <div class="filters divide-y divide-gray-100">
                    <filter-display class="pb-3" v-for="filter of filters" v-bind:filter="filter"
                        v-bind:apply="applyFilter" v-bind:remove="removeFilter" v-bind:outcomes="outcomeOptions">
                    </filter-display>
                </div>
                <button @click="addFilter"
                    class="transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
                    <span class="inline-block mr-2">Add Filter</span>
                </button>
            </div>
            <div v-if="output" class="p-5">
                <h2 class="font-semibold text-md text-gray-600 pb-5 block text-center">Results</h2>
                <div v-for="res of output">
                    {{ res.join(" ") }}
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3.0.5"></script>
    <script type="module">
        import { app } from "./ui.js";
    </script>

    <footer id="footer" class="bg-white flex shadow-md justify-center">
        <p class="m-4 text-gray-600">Copyright Hunter Henrichsen &copy; 2021</p>
        <a href="https://github.com/hhenrichsen/seqgen" class="text-gray-700 hover:text-gray-800 m-4">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
            </svg>
        </a>
    </footer>
</body>

</html>